
body{
    font-family: "Montserrat", sans-serif;
   }
.nav-link{
   color: black !important;
   }
.nav-link:hover {
    background-color:lightgreen; /* Change this color to whatever you like */
}   
.heading{
    margin-top: -380px;
    font-size: 57px;
    font-weight: 700;
    line-height: 69.48px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 147px;
    gap: 0px;
    opacity: 0px;
}
.row{
    
    display: flex;
}
.contentbox{
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 28px;
    height: 256px;
    flex:1;
}
