@import 'reset.scss';
$green:#00AF40;
$white:#ffffff;
@mixin ta{text-align: center;}
body{
  font-family: "Montserrat", sans-serif;
 } 
.nav-item{
  font-family: montserrat;
  font-weight: 700;
  font-size: 16px;
}
.nav-link{ 
 color: black !important;
 height: 50px;
 }
.nav-link:hover {
  color: $green !important;
  background: $green;
  border-width: 20px;
  border-bottom:4px solid $green;
  ;
}  
.heading{
  margin-top: -380px;
  margin-left: 147px;
}
.headingtext{
  font-size: 57px;
  font-weight: 700;
  line-height: 69.48px;
  letter-spacing: 0.04em;
  text-align: left;
  color: $white;
}
.bannerimage{
  width: 100%;
}
#events{
  margin-top: 60px;
}
.contentbox{
  padding: 15px;
  background-color: $white;
  border-radius: 28px;
  height: 256px;
  flex:1;
  box-shadow: 0 4px 4px rgba(0,0,0,0.09);
}
.contentlinks{
  color: rgba(0,0,0) !important;
  font-weight: 500;
  text-decoration: none;
}
.events{
  margin-top: 50px;
}
#viewallbtn{
  width: 100px;
  border-radius: 30px;
  color: $white;
  background-color: #00AE42;
  border: none;
}
.eventsrow{
  margin-top: 100px;
}
.eventsdetails{
  margin-top: 100px;
  height: 570px;
}
.timedetails{
  column-gap: 5%;
}
.date{
  font-weight: 600;
  color: #00AE42;
}
.time{
  font-weight: 600;
}
.morelink{
  text-decoration: none;
  color: #292929;
  font-weight: 500;
}
.eventheading{
  letter-spacing: 0.04em;
  width:80%;
}
#gallery{
  margin-top: 100px;
  height: 550px;
  background-image: url('images/gallerybackground.png');
  background-color:#0054A8;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}
.galleryheadingrow{
  column-gap: 20px;
}
.galleryheadings{
  text-decoration: none;
  color: $white;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  padding: 10px;
}
.galleryheadings:hover{
  font-weight: 500;
  border-bottom: 2px solid $white;
}
.galleryheadings:active{
  font-weight: 500;
}
.gallerycardheading{
  color: $white;
}
.gallerytext{
  font-weight: 200;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: $white;
}
#animals{
  .container{
    .animalsheading{
      @include ta();
      font-weight: 700;
      font-size: 31px;
      line-height: 38px;
      letter-spacing: 0.04em;
    }
    .animalsbuttondiv{
      height: 150px;
      position: relative;
      #animalsbutton{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 30px;
        height: 70px;
        width:200px;
        background-color: #00AE42;
        color: $white;
        border: none;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.04em;
      }
    }
    .row{
      .col-3{
        .animalcontentbox{
          padding: 10%;
          .animalsimage{
            border-radius: 100%;
            width: 100%;
          }
          .h4{
            font-weight: 700;
            font-size: 18px;
            line-height: 25.2px;
            letter-spacing: 0.04em;
          }
          .animalstime{
            font-weight: 600;
            font-size: 14px;
            line-height: 17.07px;
            letter-spacing: 0.02em;
          }
          .content{
            @include ta
          }
        }
      }
    
    }
}
}





